@font-face {
  font-family: "montserrat";
  src: url(montserrat.ttf);
}


.App {
  text-align: center;
}

.analysisContainer {
  display: flex;
  flex-direction: row;
  font-size: 36;
}

.staticInformationBox {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  width: 20vw;
  border-color: rgba(50, 53, 84, 1);
  border-width: 2px;
  text-align: center;
  font-family: ("montserrat", Helvetica);
  font-size: 24px;
  color: rgba(50, 53, 84, 1);
}

.graphicBox {
  width: 70vw;
  display: flex;
  flex-direction: row;
  border-color: rgba(50, 53, 84, 1);
  border-width: 2px;
  border-radius: 5px;
}

.buttonContainer {
  background-color: rgba(50, 53, 84, 1);
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 100px;
}

/* Style the links inside the navigation bar */
.buttonContainer a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #22AA71;
  color: white;
  font-family: "Monserrat", 'helvetica';
  font-size: 13px;
  text-align: center;
  margin-left: 10px;
}

.button:hover {
  background-color: #ddd;
  color: black;
}

#button1 {
  margin-left: 50px;
}